@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn_socil {
    @apply h-10 w-10 rounded-full border border-color-gray text-center leading-10 text-color-gray transition  duration-300 hover:border-primary hover:text-primary;
  }
  .btn {
    @apply mx-[27%] block rounded-full border bg-primary px-8 py-2 text-center uppercase transition duration-300 hover:border-primary hover:bg-transparent hover:text-primary hover:shadow hover:shadow-primary lg:mx-5;
  }
  .menu_item-1st {
    @apply text-sm font-normal capitalize  text-color-gray transition duration-300 hover:text-primary;
  }
  .menu_z {
    @apply invisible absolute  right-12 rounded bg-color-deap px-3 py-1 text-sm font-light text-color-lite opacity-0 transition duration-500 after:absolute after:-bottom-1 after:-right-5  after:h-8 after:w-7 after:bg-color-deap after:content-[''];
  }
  

/*   
  .content-width {
    @apply ml-auto max-w-full xl:max-w-[770px] xl:m-auto;
  } */
  .menu_z::after {
    clip-path: polygon(100% 53%, 0 49%, 0 79%);
  }
  li:hover .menu_z {
    opacity: 1;
    visibility: visible;
  }
  .highLight {
    @apply hover:shadow hover:shadow-primary;
  }

  li:hover .highlight2 {
    filter: drop-shadow(1px 1px 4px #6dff8564);
  }
  .content_width {
    margin-left: auto;
    max-width: 100%;
    @apply xl:max-w-[770px]
  }
}
